.leaderboard {
    position: relative;
    width: 30%;
    float:right;
    margin-top:6%;
    margin-right:34%;
    border-top:none;
    border-radius: 10px;
    color:white;
    width:500px;
    font-size:24px;
    height: 600px;
    overflow: scroll;
    -ms-overflow-style: none;
}
.leaderboard::-webkit-scrollbar {
    width: 0 !important;
  }
.table-score-neg {
    color: red;
}

.table-score-pos {
    color: rgb(47, 255, 99);
}

#time-left {
    background:blue;
}

.instructions {
    color:lightgray;
}

.table-entry {
    height:80px;
    line-height:2.1em;
}

#leaderboard-header {
    color:white;
}

a {
    /* text-shadow: 2px 2px 0px rgba(175, 175, 175, 0.233); */
    text-shadow: 2px 2px 0px rgba(67, 67, 67, 0.301);
}