.leaderboard {
    width: 30%;
    float:left;
    margin-top:10%;
    margin-left:33%;
    border-top:none;
    border-radius: 10px;
    color:white;
    width:600px;
    font-size:24px;
}

.table-score {
    color: red;
}

#time-left {
    background:blue;
}

.instructions {
    color:lightgray;
}

.table-entry {
    height:80px;
    line-height:2.1em;
}