table thead tr{
    display:block;
    -ms-overflow-style: none;
}

table th,table td{
    -ms-overflow-style: none;
}

tr{
    width: 100%;
}

th, td{
    width: 45%;
}

table{
    width:100%;
}

.table-head{
    width: 100%;
}


table tbody{
  display:block;
  height:500px;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

table {
  -ms-overflow-style: none;
}

table tbody::-webkit-scrollbar {
    width: 0 !important;
  }
