/* all */
::-webkit-input-placeholder { /* Webkit */
   color: transparent;
}
 
:-moz-placeholder { /* Firefox 18-4 */
   color: transparent;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;  
}
 
:-ms-input-placeholder {  /*  IE10+  */
   color: transparent;  
}

#userInput, #userInput:focus{
    color: transparent;
    background: none;
    border-color: transparent;
    outline: none !important;
    position: fixed;
    bottom: -100px;
}

#hangman-word{
    color:rgb(0, 4, 255);
}

/* #hangman{
    transform: rotate(180deg);
} */

/* #outer{
    transform: rotate(120deg);
} */

