/* all */
::-webkit-input-placeholder { /* Webkit */
   color: transparent;
}
 
:-moz-placeholder { /* Firefox 18-4 */
   color: transparent;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;  
}
 
:-ms-input-placeholder {  /*  IE10+  */
   color: transparent;  
}

#userInput, #userInput:focus{
    color: transparent;
    background: none;
    border-color: transparent;
    outline: none !important;
    position: fixed;
    bottom: -100px;
}

#hangman-word{
    color:blue;
    text-shadow: 5px 5px 0px rgb(130, 134, 55);
    margin-right:30px;
}

#hangman{
    /* transform: rotate(180deg); */
    color:white;
}

.time {
    font-size:30px;
    color:rgb(47, 255, 99);
    text-shadow: 2px 2px 0px rgba(67, 67, 67, 0.301);
    margin-right:15px;
}



/* #outer{
    transform: rotate(120deg);
} */

/* .memo {
    color:white;
} */


a {
    text-shadow: 2px 2px 0px rgba(67, 67, 67, 0.301);
}